<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">
	<link rel="stylesheet" type="text/css" href="https://material.angularjs.org/1.1.0-rc.5/docs.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/css/ngDialog.min.css">

    <style type="text/css">
        
        body  {
    background-image: url("cats_fly.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

    </style>
	
</head>
<body>

<div class="container">
<h1>Co-browse issue on using the loader/spinner from angular material</h1>

<h1>Loader from angular material</h1>
<p>AngularJS Material is both a UI Component framework and a reference implementation of Google's Material Design Specification. This project provides a set of reusable, well-tested, and accessible UI components based on Material Design.</p>

<div ng-controller="AppCtrl" ng-cloak="" ng-app="MyApp" layout-fill layout="column">
  <div flex layout="column", layout-align="center center">
    <md-progress-circular md-diameter="{{diameter}}"></md-progress-circular>
  </div>
</div>

 <button id="go" class="btn btn-primary">Co-browse Only Mode</button>

        <h3 id="short-code"></h3>

        <!-- The button to end an Assist Session will only be visible while assist is active -->
        <button id="end" class="btn btn-primary">End support</button>
</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script type="text/javascript" src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
	<script type="text/javascript" src="script.js"></script>

	<script src="http://192.168.4.106:8080/assistserver/sdk/web/consumer/assist.js" type="application/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  

    // cache the UI elements that we will be interacting with
    var $endButton = $('#end');
    var $codeDisplay = $('#short-code');

    // when the support button is clicked...
    $('#go').click(function(event) {
        event.preventDefault();

        // Retrieve a short code
        $.ajax('https://192.168.4.106:8443/assistserver/shortcode/create', {
                method: 'put',
                dataType: 'json'
            })
            .done(function(response) {

                // Retrieve session configuration (session token, CID etc.)
                $.get('https://192.168.4.106:8443/assistserver/shortcode/consumer', {
                    appkey: response.shortCode
                }, function(config) {

                    // translate the config retrieved from the server, into
                    // parameters expected by AssistSDK
                    var params = {
                        cobrowseOnly: true,
                        correlationId: config.cid,
                        scaleFactor: config.scaleFactor,
                        sessionToken: config['session-token']
                    };

                    // start the support session
                    AssistSDK.startSupport(params);

                    // display the code for the consumer to read to the agent
                    $codeDisplay.text(response.shortCode);
                }, 'json');
            });
    });

    // configure Assist to automatically approve share requests
    AssistSDK.onScreenshareRequest = function() {
        return true;
    };

    // the $endSupport button will be hidden
    // $endButton.hide().css('display', 'inline');

    // when screenshare is active, toggle the visibility of the 'end' button
    AssistSDK.onInSupport = function() {
        $endButton.show();
    };

    AssistSDK.onEndSupport = function() {
        $endButton.hide();
        $codeDisplay.text('');
    };

    $endButton.click(function() {
        AssistSDK.endSupport();
    });

    $endButton.click(function() {
        AssistSDK.onEndSupport();
    });

    AssistSDK.onEndSupport = function() {
        console.log("Live Assist session ended");
    };
</script>
</body>
</html>